/*
TODO: Add developers name, photo, links to sections about them, their work, and contact information
TODO: add links from nav to sections
TODO: Add a card with the first application, the applications image should be larger in size that the others
TODO: link the application to the deployed application
TODO:Resize the page so that the it fits in different screens and devices */


 :root{
    --primary: #AFA250;
    --secondary:#DAAD86;
    --accent:#BC986A;
    --background:#FBEEC1;
    --text:black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
}


/* header, section, article, aside, aside, footer {
    border: 1px solid black;
} */


/* created a flex hedading that moves with the scroll of the page */
.header{
    display:flex;
    justify-content:flex-end;
    padding: 20px 50px;
    align-items: center;
    box-shadow: 0 1px 8px var(--accent);
    flex-wrap: wrap;
    height: 15vh;
    padding: 1rem;
    width: 100%;
}

.header h1 {
    margin-right: auto;
}

.header li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    font-family: serif;
    border: 1px solid var(--accent);
    background-color:var(--secondary) ;
    box-shadow: 1px 1px 1px 1px var(--accent);
}

.header, footer {
    background-color: var(--primary);
    box-shadow: 1px 1px 1pxvar(--accent);
}


.about-me, .projects {
    text-align: center;
}

.about-me p, .about-me h2 {
    background-color: var(--primary);
    padding: 10px;
}
.about-me p {
    padding-top: 20px;


}

.sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects {
    margin: 10px;
  }

  .projects p{
    padding-top: 20px;
  }

  .projects h2 {
    padding-top: 20px;
    border: 1px solid var(--accent);
    border-radius: 180px;
    padding: 10px;
    background-color: var(--primary);
  }

.about-me {
    padding: 1rem;
    background-image: url(./assets/DSC01255.jpg);
    background-size:200%;
}

.about-me img {
    border-radius: 100%;
    width: 70%;
    
}


main{
    min-height: 70vh;
    background-color: var(--background);
}


img {
    width: 100%;
    height: auto;

    /* add box-shadow transition */
    transition: 5s ;
    padding: 20px;

}

input {
    display: inline;
}

.contact-me{
    display:flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 5px;

}
.contact-me a {
    background-color: var(--accent);
    padding-left :4px;
    padding-right: 4px;
}
.footer{
    display: flex;
    justify-content: center;
    padding:5px;
}

 
@media screen and (min-width: 772px) {
    .projects {
      width: 44%;
    }
  }

  @media screen and (min-width: 500px) {
    header {
      width: 75%;
    }
  }