/*
TODO: Add developers name, photo, links to sections about them, their work, and contact information
TODO: add links from nav to sections
TODO: Add a card with the first application, the applications image should be larger in size that the others
TODO: link the application to the deployed application
TODO:Resize the page so that the it fits in different screens and devices */


 :root{
    --primary: slategrey;
    --secondary:white;
    --accent:black;
}


header, section, article, aside, aside, footer {
    border: 1px solid black;
}


/* created a flex hedading that moves with the scroll of the page */
.header{
    display:flex;
    justify-content:flex-end;
    padding: 20px 50px;
    align-items: center;
    box-shadow: 0 1px 8px var(--accent);
    flex-wrap: wrap;
    height: 15vh;
    padding: 1rem;
}

.header h1 {
    margin-right: auto;
}

.header li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    font-family: serif;
    border: 1px solid var(--accent);
    background-color:var(--secondary) ;
    box-shadow: 1px 1px 1px 1px var(--accent);
}

.header, footer {
    background-color: var(--primary);
}



.about-me, .projects {
    text-align: center;
}

.about-me p {
    padding-top: 20px;
}

.sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1em;
    width: 50%;
}

.projects {
    margin: 10px;
  }

  .projects p{
    padding-top: 20px;
  }

  .projects h2 {
    padding-top: 20px;
  }

.about-me {
    padding: 1rem;
}

main{
    min-height: 70vh;
}

footer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 15vh;
    padding: 20px;

}

img {
    width: 100%;
    height: auto;
    transition: box-shadow: 5s ;
    padding: 20px;

}

input {
    display: inline;
}

.contact-me{
    display:flex;
    justify-content: flex-end;
    justify-content: space-between;
}

/* 
@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .sections {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }


  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .sections {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  } */